:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
} */

/* a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  position: relative;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  padding: 1rem;
  /* text-align: center; */
}

/* .page{

} */

.logo {
  cursor: pointer;
  margin-bottom: 50px;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1em 0; */
}

.menu_items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upper_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5em;
}

.lower_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5em;
  background-color: transparent;
  /* background-color: rgba(0, 0, 0, .9); */
  color: white;
  backdrop-filter: blur(30px);
  padding: 9px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 36px;
  position: relative;
  padding-right: 100px;
}

.lower_menu_item {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: .5em;
}

.down_arrow {
  font-size: 12px;
  color: #FFFFFF;
}

.search_icon {
  position: absolute;
  right: 0px;
  padding: 24px 28px;
  border-radius: 100%;
  color: #fff;
  /* margin: 100px 500px; */
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(30deg, rgba(0, 0, 0, 1) 0%, rgba(255, 78, 24, 1) 0%, rgba(209, 42, 0, 0.6050069686077556) 100%);
  background: -webkit-linear-gradient(30deg, rgba(0, 0, 0, 1) 0%, rgba(255, 78, 24, 1) 0%, rgba(209, 42, 0, 0.6050069686077556) 100%);
  background: linear-gradient(30deg, rgba(0, 0, 0, 1) 0%, rgba(255, 78, 24, 1) 0%, rgba(209, 42, 0, 0.6050069686077556) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#d12a00", GradientType=1);
}


.button {
	display: inline-block;
	margin: 4px 2px;
	background-color: #444;
	font-size: 14px;
	padding-left: 32px;
	padding-right: 32px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

/* .search-container {
  background-color: #444;
	position: relative;
	display: inline-block;
	margin: 4px 2px;
	height: 50px;
	width: 50px;
	vertical-align: bottom;
} */

.mglass {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.searchbutton {
  position: absolute;
  right: 0px;
  top: -4px;
  padding: 12px 30px;
  font-size: 26px;
  border-radius: 100%;
  color: #fff;
  /* margin: 100px 500px; */
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(30deg, rgba(0, 0, 0, 1) 0%, rgba(255, 78, 24, 1) 0%, rgba(209, 42, 0, 0.6050069686077556) 100%);
  background: -webkit-linear-gradient(30deg, rgba(0, 0, 0, 1) 0%, rgba(255, 78, 24, 1) 0%, rgba(209, 42, 0, 0.6050069686077556) 100%);
  background: linear-gradient(30deg, rgba(0, 0, 0, 1) 0%, rgba(255, 78, 24, 1) 0%, rgba(209, 42, 0, 0.6050069686077556) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#d12a00", GradientType=1);
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search {
  color : white;
	position: absolute;
	left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
  bottom: 0px;
  background: linear-gradient(30deg, rgba(0, 0, 0, 1) 0%, rgb(241, 148, 41) 0%, rgba(209, 42, 0, 1) 100%);
	outline: none;
	border: none;
	padding: 0;
	width: 0;
  border-radius: 100px;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 100%; /* Bar width+1px */
	padding: 0 16px 0 0;
  margin-right: -100px;
  border-radius: 50px;
}

.search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.expandright {
  margin-right: -100px;
  opacity: 0;
	left: auto;
	right: 99px; /* Button width-1px */
}

.expandright:focus {
  opacity: 1;
  font-size: 14px;
	padding: 0 0 0 26px;
  color : white;
}
/* search bar ends */


.right_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5em;
  margin-bottom: 50px;
}

.user_icon {
  background-color: #101010;
  padding: 10px 18px;
  border-radius: 30%;
  font-size: 18px;
  color: #535bf2;
}

.banner {
  z-index: -10;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-image: url("./public/banner.jpg"), linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
  background-blend-mode: overlay;
}

.banner_info {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
  width: 100%;
  max-width: 400px;
}

.time_tag {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 5px;
  background-color: #333A3D;
  font-size: 0.8em;
  font-weight: 500;
  color: #FFF;
}

.banner_title {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin: 0em 0;
}

.pricing_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  margin: 1em 0;
}

.discount_tag {
  display: inline-block;
  padding: 4px 14px 4px 8px;
  border-radius: 5px 12px 5px 5px;
  /* border-right: 100% !important; */
  background-color: #ff4e18;
  font-size: 0.8em;
  font-weight: 500;
  color: #FFF;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);

  /* clip-path: inset(10px round 30px 20px 80px 10px); */
}

/* .discount_tag:before{
  -webkit-clip-path: inset(10px round 80px 20px 30px 10px);
  clip-path: inset(10px round 30px 20px 80px 10px);
} */

.price {
  font-size: 2.2em;
  font-weight: 500;
  margin: 0;
}

/* .banner_image{
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
  left: 0px;
  width: 100vw;
  height: 100%;
  object-fit: cover;
} */


.bod{
  position: relative;

  
}

.trending {
  margin-top: 34%;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.trending_title{
  padding: 0rem !important;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 800px;

}

#trend_text{
  font-size: 2em;
  font-weight: 500;
  margin-right: auto;
  color: white;
}

#view_btn{
  padding: 4px 8px;
  border-radius: 5px;
  background-color: #333A3D;
  font-size: 0.8em;
  font-weight: 500;
  color: #FFF;
  cursor: pointer;
  border: 1px solid #888;
}

.trending_items{
  position: absolute;
  margin-top: 300px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 3em;
}

.card_item{
  position: relative;
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}


.card_image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card {
  padding: 2em;
}

.card_discount_tag{
  position: absolute;
  bottom: -3px;
  left: -3px;
  display: inline-block;
  padding: 4px 14px 4px 8px;
  border-radius: 5px 12px 5px 5px;
  background-color: #ff4e18;
  font-size: 0.8em;
  font-weight: 500;
  color: #FFF;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

.card_info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.card_name{

}

.card_price{
  font-size: 1.2em;
  font-weight: 500;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}